[Unit]
Description=Update public ip using FreeDNS Dynamic DNS
Documentation=https://freedns.afraid.org/dynamic/
Wants=freedns.timer

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 42 ; curl -s https://sync.afraid.org/u/yourcode/ >> /tmp/freedns_your_domain.log 2>/dev/null"


[Install]
WantedBy=multi-user.target
